#example {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
}

.round-example {
  border-radius: 50%;
  background-color: palevioletred!important;
}
.sq-example {
  border-radius: 0%;
  background-color: greenyellow!important;
}